<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/indexCss.css}">
    <title>Title</title>
</head>
<body>
        <h1> Jestem duży</h1>
</body>
</html>